/* ---------------------------------------------- /*
 * General styles
/* ---------------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);

body {
	font: 300 15px/1.6 'Raleway', serif, sans-serif;
	color: #545454;
	background: #343434;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: #00e5ff;
	font-size: 16px;
}

a:hover {
	color: #C4C4C4;
}

ul {
	padding: 0px;
}

.box_textshadow {
    text-shadow:
    -0.5px -0.5px 0 #000000,
    0.5px -0.5px 0 #000000,
    -0.5px 0.5px 0 #000000,
    0.5px 0.5px 0 #000000,
    -1px 0 0 #000000,
    1px 0 0 #000000,
    0 1px 0 #000000,
    0 -1px 0 #000000;
}

/* ---------------------------------------------- /*
 * Typography
/* ---------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
	font: 400 46px/1.2 'Raleway', serif, sans-serif;
	margin: 5px 0 5px;
	color: #FFFFFF;
}

h1 {
	font-size: 48px;
	font-weight: 700;
	margin: 15px 0 15px;
}

h2 {
	font-size: 32px;
	font-weight: 700;
}

h3 {
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

p {
	color: #C4C4C4;
	font-size: 20px;
	padding: 10px;
	margin: 0px;
	text-align: justify;
}

p img {
	padding: -10px;
}

pre {
	background-color: #1e1e1e;
	color: #bbbbbb;
	margin: 20px;
	padding: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;
	overflow-y: auto;
	text-align: left;
}

li{
	list-style: none;
}

.nav-link:hover {
	color: #C4C4C4;
}

/* ---------------------------------------------- /*
 * Custom button style
/* ---------------------------------------------- */

.btn {
	font-weight: 700;
	font-size: 14px;
	padding: 17px 27px;
	border: 0;
}

.btn:hover, .btn:focus, .btn:active, .btn.active {
	outline: inherit !important;
}

/* Button types*/

.btn-default {
	background: #FFF;
	margin-top: 10px;
}

.btn-custom-1 {
    color: #FFF; 
    margin-right: 10px;
	background: #343a40;
	border: 2px solid #343a40;
	padding: 15px 25px;
}

.btn-custom-1:hover, .btn-custom-1:focus, .btn-custom-1:active, .btn-custom-1.active {
	background: #FFF;
	border: 2px solid #343a40;
	color: #343a40;
}

.btn-custom-2 {
    margin-right: 10px;
	background: rgb(255, 255, 255);
	border: 2px solid rgb(255, 255, 255);
	padding: 15px 25px;
}

.btn-custom-2:hover, .btn-custom-2:focus, .btn-custom-2:active, .btn-custom-2.active {
	background: #18191a;
	border: 2px solid #FFF;
	color: #FFF;
}

/* ---------------------------------------------- /*
 * Menu
/* ---------------------------------------------- */

.main_body {
	display: grid;
	width: 100vw;
	grid-template-areas: 
	"lft rgt"
	;
	grid-template-columns: 1fr 3fr;
	text-align: center;
}

.menu {
	grid-area: lft;
	display: grid;
	grid-template-areas: 
	"navigation"
	"recents"
	"archives";
	background: #1a1818;
	border-style: solid;
	border-width: 0px;
	border-right-width: 3px;
	border-color: #008496;
	overflow: scroll;
	height: 100vh;
	scrollbar-width: 0px;
	-ms-overflow-style: none;
}

.menu::-webkit-scrollbar {
	display: none;
}

.menu-content {
	height: fit-content;
}

.menu h3 {
	text-align: center;
	text-transform: uppercase;
}

.menu .navigation {
	grid-area: navigation;
	padding-top: 15px;
}

.menu .recents {
	grid-area: recents;
}

.menu .categories {
	grid-area: categories;
}

.menu .archives {
	grid-area: archives;
}

.menu .nav-link {
	padding: .15rem 0.25rem;
	color: #00e5ff;
}

.menu .nav-link:hover {
	color: #C4C4C4;
}

.nav-link h3:hover {
	color: #C4C4C4;
}

/* ---------------------------------------------- /*
 * Content
/* ---------------------------------------------- */

.content {
	grid-area: rgt;
	background-color: #343434;
	height: 100vh;
	overflow: auto;
}

.content h1, h3 {
	color: #FFFFFF;
	text-transform: none;
	text-align: left;
	padding: 10px;
}

.banner {
	display: flex;
	height: 100px;
	align-items: center;
	justify-content: center;
}

.sub-banner {
	display: flex;
	height: 50px;
	justify-content: left;
	align-items: center;
	padding: 2vw;
}

.content-body {
	display: grid;
	grid-template-areas: 
	"top"
	"btm";
	justify-content: left;
	text-align: left;
	align-items: center;
	padding-right: 4vw;
	padding-left: 4vw;
	padding-bottom: 2vh;
	padding-top: 1vh;
}

.content-body .nav-link {
	font-size: 20px;
}

.content-body-header {
	grid-area: top;
	justify-content: left;
	align-items: center;
}

.content-body-list {
	grid-area: btm;
	justify-content: left;
	align-items: center;
}

.content-body-list ul li {
	justify-content: left;
}

@media (max-width: 750px) {
	.main_body {
		display: grid;
		grid-template-areas: 
		"rgt"
		"lft"
		;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		text-align: center;
		padding: 0px;
		width: auto;
		height: fit-content;
	}

	.menu {
		width: 100vw;
		border-right-width: 0px;
		padding: 0px;
		width: auto;
		height: fit-content;
	}
	
	.content {
		width: 100vw;
		padding: 0px;
		width: auto;
		height: fit-content;
	}

	.banner {
		height: 125px;
	}

	.sub-banner {
		height: 66px;
	}
}