<!DOCTYPE html>

<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

		<title>Michael Green's Blog</title>

		<!-- CSS -->

		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="{{ static_assets }}/css/blog.css" rel="stylesheet" media="screen">

		<!-- JS -->

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"></script>

		<!-- Extras -->

		<link rel="apple-touch-icon" sizes="180x180" href="{{ static_assets }}/images/favicon_io/apple-touch-icon.png">
		<link rel="icon" type="image\png" sizes="32x32" href="{{ static_assets }}/images/favicon_io/favicon-32x32.png">
		<link rel="icon" type="image\png" sizes="16x16" href="{{ static_assets }}/images/favicon_io/favicon-16x16.png">
		<link rel="manifest" href="{{ static_assets }}/images/favicon_io/site.webmanifest">

	</head>
	<body>
		<div class="wrapper">
			<div class="main_body">
				<div class="menu">
					<div class="menu-content">
						<ul class="navigation">
							<h3>Navigation</h3>
							<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
							<li class="nav-item"><a class="nav-link" href="https://michaelgreen.dev">Main</a></li>
						</ul>
						<ul class="recents">
							<h3>Recent Posts</h3>
							{% for post in recent_posts %}
								<li class="nav-item">
									<a class="nav-link" href="/posts/{{ post.date_file }}">
										{{ post.date_label }}
										<br>
										<span style="font-size: 13px;">{{ post.title }}</span>
									</a>
								</li>
							{% endfor %}
						</ul>
						<ul class="archives">
							<a class="nav-item nav-link" href="/archives/"><h3>Archives</h3></a>
						</ul>						
					</div>
				</div>
				<div class="content">
					<div class="banner">
						<h1>ARCHIVES</h1>
					</div>
					<div class="content-body">
						<div class="content-body-list">
							<ul>
								{% for year, posts in archives.items() %}
									<a class="nav-item nav-link" href="/archives/{{ year }}"><h3>{{ year }}</h3></a>
									{% for post in posts %}
										<li class="nav-item">
											<a class="nav-link" href="/posts/{{ post.date_file }}">
												{{ post.date_label }} -	<span>{{ post.title }}</span>
												<br>
											</a>
										</li>
										{{ post.introduction }}
									{% endfor %}
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>