<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

	<title>Michael Green's Portfolio</title>

	<!-- CSS -->

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
  
	<link rel="stylesheet" href="/static/css/aos.css"/>
	<link href="/static/css/main.css" rel="stylesheet" media="screen">

	<!-- JS -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"></script>

  <!-- Extras -->

	<link rel="apple-touch-icon" sizes="180x180" href="/static/static/images/favicon_io/apple-touch-icon.png">
	<link rel="icon" type="image\png" sizes="32x32" href="/static/static/images/favicon_io/favicon-32x32.png">
	<link rel="icon" type="image\png" sizes="16x16" href="/static/static/images/favicon_io/favicon-16x16.png">
	<link rel="manifest" href="/static/static/images/favicon_io/site.webmanifest">

</head>

<body>

	<div class="wrapper">

		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			<div class="container">
				<div>
					<div class="dropdown">
					<script src="/static/js/drop_down.js"></script>
					</div>
				</div>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarText" >
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="#profile">Profile</a></li>
						<li class="nav-item"><a class="nav-link" href="#privateSector">Private Sector</a></li>
						<li class="nav-item"><a class="nav-link" href="#research">Research</a></li>
						<li class="nav-item"><a class="nav-link" href="#teaching">Teaching</a></li>
						<li class="nav-item"><a class="nav-link" href="#community">Community</a></li>
						<li class="nav-item"><a class="nav-link" href="#philosophy">Philosophy</a></li>
						<li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- Navbar -->

		<!-- Home -->
		<section id="home" data-aos="fade-in" data-aos-delay="200" data-aos-duration="2000" style="background-image: url('/static/images/kayak5 cmp.png');">
			<div class="container" align="center" style="margin-left:20%">
				<div class="col-sm-12 cst-home-font">
					<div data-aos="fade-in" data-aos-delay="1200" data-aos-duration="2000" class="Name">
						<h1>MICHAEL GREEN</h1>
						<h4><span class="sub-title" data-aos="fade-in" data-aos-delay="1200" data-aos-duration="2000">R&D Scientist | Software Developer</span></h4>
					</div>
				</div>
			</div>
		</section>
		<!-- Home -->

		<!-- Profile -->
		<section id="profile" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 headline" data-aos="fade-in" style="margin-bottom: 15px; margin-top:20px;">
						<h2>Michael Green</h2>
						<p>R&D Scientist | Software Developer</p>
						<h6>Ph.D. Chemistry, University of Missouri-Kansas City, 2020</h6>
						<h6>M.Sc. Chemistry, University of Missouri-Kansas City, 2019</h6>
						<h6>B.Sc. Chemistry (Minor in Mathematics), University of Idaho, 2016</h6>
					</div>
					<div class="col-md-3 col-sm-12" data-aos="fade-right">
						<div class="skills">
							<h3>HARDWARE</h3>
							<li><h5>XRD, Network Analysis</h5><span class="bar"><span class="weight-full"></span></span></li>
							<li><h5>Spectrophotometry, XPS, SEM/EDX</h5><span class="bar"><span class="weight-high"></span></span></li>
							<li><h5>FTIR, Raman, BET</h5><span class="bar"><span class="weight-medhigh"></span></span></li>
							<li><h5>PLM, TEM, ESR</h5><span class="bar"><span class="weight-med"></span></span></li>
							<li><h5>NMR/SSNMR, PALS</h5><span class="bar"><span class="weight-low"></span></span></li>
						</div>
					</div>
					<div class="col-md-6 col-sm-12" data-aos="fade-up">
						<h3 align="center">Vita</h3>
						<script src="/static/js/text_as_js/vita.js"></script>
					</div>
					<div class="col-md-3 col-sm-12", data-aos="fade-left">
						<div class="skills">
							<h3>SOFTWARE</h3>
							<li><h5>Python</h5><span class="bar"><span class="weight-full"></span></span></li>
							<li><h5>Cython, C</h5><span class="bar"><span class="weight-medhigh"></span></span></li>
							<li><h5>SQL, C++</h5><span class="bar"><span class="weight-med"></span></span></li>
							<li><h5>JS/HTML/CSS</h5><span class="bar"><span class="weight-med"></span></span></li>
							<li><h5>Java, Golang</h5><span class="bar"><span class="weight-low"></span></span></li>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Profile -->

		<!-- Private Sector -->
		<section id="privateSector" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 headline" data-aos="fade-in" style="margin-bottom: 15px; margin-top:20px;">
						<h2>Private Sector</h2>
						<p>Software Development at Scale</p>
					</div>
				</div>
				<div class="row resume-items" style="margin-bottom: 70px;">
					<div class="col-md-4"  data-aos="fade-right">
						<h3>Crunch.io </h3>
						<h5>Software Developer, <i>remote</i><br> Aug. 2020 – <i>present</i></h5>
						<br>
						<h4>Technologies</h4>
						<p>Python | Cython | C programming <br> Linux | Git/GitHub | Bash | WSL <br> Docker | Kubernetes | AWS <br> Pivotal | Notion </p>
					</div>
					<br>
					<div class="col-md-8"  data-aos="fade-left">
						<h3>Software Developer</h3>
						<script src="/static/js/text_as_js/crunchio.js"></script>
					</div>
				</div>
				<div class="row resume-items">
					<div class="col-md-4"  data-aos="fade-right">
						<h3>Cybrary, Inc</h3>
						<h5>Data Science Instructor, <i>remote</i> <br> Dec. 2019 – Aug. 2020</h5>
						<br>
						<h4>Topics</h4>
						<p>probability & statistics | numerical methods <br> data handling | data visualization <br> regression | optimization | algorithms <br> clustering | classification <br> machine learning | deep learning</p>
					</div>
					<div class="col-md-8"  data-aos="fade-left">
						<h3>Instructor, Advanced Python for Data Science</h3>
						<script src="/static/js/text_as_js/cybrary.js"></script>
					</div>
				</div>
			</div>
		</section>
		<!-- Industry -->

		<!-- Research -->
		<section id="research" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 headline" data-aos="fade-in" style="margin-bottom: 50px; margin-top:20px;">
						<h2>Research</h2>
						<p>The work which has impacted the world</p>
						<h6> Number of Citations: 481 | h-index: 13 | i10-index: 16 <br> Highest IF: 15.13 | Average CiteScore: 7.02</h6>
						<h5><a href="https://scholar.google.com/citations?user=DxFljRYAAAAJ&hl=en" target="_blank">Google Scholar</a></h5>
					</div>
				</div>
          <div class="row resume-items">
            <div class="col-md-4"  data-aos="fade-right">
            <h3>University of Missouri-Kansas City, MO</h3>
						<h5>Department of Chemistry <br> Aug. 2016 - Present</h5>
						<br>
						<h4>Stats</h4>
						<p>20 manuscripts | 9 oral presentations <br> 16 first-authorships | 4 co-authorships </p>
						<br>
						<h4>DOIs</h4>
						<p>
							<a href="https://doi.org/10.1016/j.compscitech.2020.108332" target="_blank">10.1016/j.compscitech.2020.108332</a><br>
							<a href="https://doi.org/10.1002/admi.202000658" target="_blank">10.1002/admi.202000658</a><br>
							<a href="https://doi.org/10.1021/acsaelm.0c00573" target="_blank">10.1021/acsaelm.0c00573</a><br>
							<a href="https://doi.org/10.1021/acs.jchemed.9b00818" target="_blank">10.1021/acs.jchemed.9b00818</a><br>
							<a href="https://doi.org/10.1002/admi.201901270" target="_blank">10.1002/admi.201901270</a><br>
							<a href="https://doi.org/10.1016/j.jmmm.2019.165974" target="_blank">10.1016/j.jmmm.2019.165974</a><br>
							<a href="https://doi.org/10.21105/joss.01868" target="_blank">10.21105/joss.01868</a><br>
							<a href="https://doi.org/10.1016/j.jmat.2019.07.003" target="_blank">10.1016/j.jmat.2019.07.003 </a><br>
							<a href="https://doi.org/10.1016/j.apmt.2019.07.011" target="_blank">10.1016/j.apmt.2019.07.011</a><br>
							<a href="https://doi.org/10.1021/acsanm.9b00700" target="_blank">10.1021/acsanm.9b00700</a><br>
							<a href="https://doi.org/10.1016/j.nanoms.2019.02.001" target="_blank">10.1016/j.nanoms.2019.02.001</a><br>
							<a href="https://doi.org/10.1016/j.jmat.2018.12.005" target="_blank">10.1016/j.jmat.2018.12.005</a><br>
							<a href="https://doi.org/10.1038/s41377-018-0088-8" target="_blank">10.1038/s41377-018-0088-8</a><br>
							<a href="https://doi.org/10.1016/j.mtphys.2018.06.005" target="_blank">10.1016/j.mtphys.2018.06.005</a><br>
							<a href="https://doi.org/10.1016/j.mtchem.2018.06.003" target="_blank">10.1016/j.mtchem.2018.06.003</a><br>
							<a href="https://doi.org/10.1016/j.mtphys.2018.04.001" target="_blank">10.1016/j.mtphys.2018.04.001</a><br>
							<a href="https://doi.org/10.1039/C8QM00003D" target="_blank">10.1039/C8QM00003D</a><br>
							<a href="https://doi.org/10.1016/j.mtnano.2018.04.004" target="_blank">10.1016/j.mtnano.2018.04.004</a><br>
							<a href="https://doi.org/10.1088/1361-6463/aa6500" target="_blank">10.1088/1361-6463/aa6500</a><br>
							<a href="https://doi.org/10.1039/C7TC01189J" target="_blank">10.1039/C7TC01189J</a><br>
						</p>
                    </div>
					<div class="col-md-8"  data-aos="fade-left">
						<h3>Graduate Research Assistant</h3>
						<script src="/static/js/text_as_js/resume_GRA.js"></script>
					</div>
				</div>
				<div class="row resume-items">
					<div class="col-md-4"  data-aos="fade-right">
						<h3>University of Idaho-<br>Moscow, ID</h3>
						<h5>Department of Chemical and Materials Engineering <br> Jan. 2014 – July 2016</h5>
						<br>
						<h4>Stats</h4>
						<p> 2 manuscripts | 1 conference manuscript <br> 3 co-authorships </p>
						<br>
						<h4>DOIs</h4>
						<p>
							<a href="https://doi.org/10.1016/j.cej.2015.11.091" target="_blank">10.1016/j.cej.2015.11.091</a><br>
							<a href="https://doi.org/10.1007/s10450-016-9781-1" target="_blank">10.1007/s10450-016-9781-1</a><br>
						</p>
					</div>
					<div class="col-md-8"  data-aos="fade-left">
						<h3>Undergraduate Research Assistant</h3>
						<script src="/static/js/text_as_js/resume_UGA.js"></script>
					</div>
				</div>
			</div>
		</section>
		<!-- Research -->

		<!-- Teaching -->
		<section id="teaching" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 headline" data-aos="fade-in" style="margin-bottom: 20px; margin-top:20px;">
						<h2>Teaching</h2>
						<p>Preparing the next generation</p>
					</div>
				</div>
				<div class="row resume-items">
					<div class="col-md-4"  data-aos="fade-right">
						<h3>University of Missouri-Kansas City, MO</h3>
						<h5>Department of Chemistry <br> Jan. 2017 – May 2018; Jan. 2019 – May 2019</h5>
						<br>
						<h4>Courses</h4>
						<p>Experimental Physical Chemistry <br> General Chemistry I Lab <br> General Chemistry II Lab </p>
                    </div>
					<div class="col-md-8"  data-aos="fade-left">
						<h3>Graduate Teaching Assistant</h3>
						<script src="/static/js/text_as_js/resume_GTA.js"></script>
					</div>
				</div>
			</div>
		</section>
		<!-- Teaching -->

		<!-- Community -->
		<section id="community" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 headline" data-aos="fade-in" style="margin-bottom: 20px; margin-top:20px;">
						<h2>Community</h2>
						<p>Reaching out in service</p>
					</div>
				</div>
					<div class="row resume-items">
						<div class="col-md-4"  data-aos="fade-right">
							<h3>University of Missouri-Kansas City, MO</h3>
							<h5>School of Medicine<br> Aug. 2016 – Aug. 2019</h5>
							<br>
							<h4>Programs</h4>
							<p>Summer Scholars <br> Saturday Academy </p>
						</div>
					<div class="col-md-8"  data-aos="fade-left">
						<h3>Chemistry Instructor</h3>
						<script src="/static/js/text_as_js/resume_SOM.js"></script>
					</div>
				</div>
			</div>
		</section>
		<!-- Community -->

		<!-- Philosophy -->
		<section id="philosophy" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 headline" data-aos="fade-in" style="margin-bottom: 30px; margin-top:20px;">
						<h2>Philosophy</h2>
						<p>The foundations on which I stand</p>
					</div>
				</div>
				<div class="row resume-items">
					<div class="col-md-8"  data-aos="fade-in">
						<h3>Teaching</h3>
						<script src="/static/js/text_as_js/teaching_philosophy.js"></script>
					</div>
				</div>
				<div class="row resume-items">
					<div class="col-md-8"  data-aos="fade-in">
						<h3>Technology</h3>
						<script src="/static/js/text_as_js/tech_philosophy.js"></script>
					</div>
				</div>

				<div class="row resume-items">
					<div class="col-md-8"  data-aos="fade-in">
						<h3>Community</h3>
						<script src="/static/js/text_as_js/community_philosophy.js"></script>
					</div>
				</div>
			</div>
		</section>
		<!-- Philosophy -->

		<!-- site tag -->
      <script src="/static/js/page_tag.js"></script>
    <!-- site tag -->

	</div>
</body>

<script src="/static/js/aos.js"></script>
<script>AOS.init();</script>
<script src="/static/js/custom.js"></script>


</html>