<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

	<title>libRL Portfolio</title>

	<!-- CSS -->

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
  
	<link rel="stylesheet" href="{{ static_assets }}/css/aos.css"/>
	<link href="{{ static_assets }}/css/main.css" rel="stylesheet" media="screen">

	<!-- JS -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"></script>

  <!-- Extras -->

	<link rel="apple-touch-icon" sizes="180x180" href="{{ static_assets }}/images/favicon_io/apple-touch-icon.png">
	<link rel="icon" type="image\png" sizes="32x32" href="{{ static_assets }}/images/favicon_io/favicon-32x32.png">
	<link rel="icon" type="image\png" sizes="16x16" href="{{ static_assets }}/images/favicon_io/favicon-16x16.png">
	<link rel="manifest" href="{{ static_assets }}/images/favicon_io/site.webmanifest">

</head>

<body>

  <div class="wrapper">

		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			<div class="container">
				<div>
					<div class="dropdown">
          <script src="{{ static_assets }}/js/drop_down.js"></script>
					</div>
				</div>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarText" >
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- Navbar -->

		<!-- Home -->
		<section id="home" style="background-image: url('{{ static_assets }}/images/turtle2.png');">
			<div class="container" align="left" style="margin-left:45%; margin-top: 7%">
				<div class="col-sm-12 cst-home-font">
					<div data-aos="fade-in" data-aos-delay="1200" data-aos-duration="2000" class="Name">
						<h1>Portfolio</h1>
            <h4><span class="sub-title" data-aos="fade-in" data-aos-delay="1200" data-aos-duration="2000">Talk is cheap – show me the code. <br><i>Linus Torvalds</i></span></h4>
					</div>
				</div>
			</div>
		</section>
		<!-- Home -->

		<!-- Profile -->
		<section id="profile" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 headline" data-aos="fade-in" style="margin-bottom: 30px; margin-top:-3%;">
					</div>
					<div class="col-md-5 col-sm-12" data-aos="fade-right">
            <h2 style="font-size: 28px;"> libRL </h2>
            <p style="font-size: 20px;" align="justify">
              A python library for the characterization of Microwave Absorption.
            </p>
						<p style="font-size: 17px;" align="justify">
						<b>Demonstrates:</b>
						<br>Tech – Python, C/C++, HTML, CSS, JavaScript, NumPy, SciPy, Matplotlib, Pandas, Cython, Sphinx, Flask, Git
						<br>Topics – object-oriented programming, procedural programming, algorithms, modular design, packaging & distribution, graphical user interfaces
						</p>
            <a href="/portfolio/libRL" class="btn btn-default btn-custom-1">Webpage</a>
            <a href="https://github.com/1mikegrn/libRL" class="btn btn-default btn-custom-1">Repository</a>
						<a href="https://1mikegrn.github.io/libRL/" class="btn btn-default btn-custom-1">DocSite</a>
					</div>

          <div class="col-md-2 col-sm-0"></div>

					<div class="col-md-5 col-sm-12", data-aos="fade-left">
            <h2 style="font-size: 28px;"> pyGC </h2>
            <p style="font-size: 20px; align: justify" align="justify">
              A desktop application for gas chromatography analysis.
            </p>
						<p style="font-size: 17px;" align="justify">
						<b>Demonstrates:</b>
						<br>Tech – Python, Kivy, NumPy, SciPy, Matplotlib, Pandas, Sphinx, Jupyter Notebooks, Google Colab, Binder
						<br>Topics – functionalization, procedural programming, algorithms
						</p>
            <a href="/portfolio/pyGC" class="btn btn-default btn-custom-1">Webpage</a>
            <a href="https://github.com/1mikegrn/pyGC/" class="btn btn-default btn-custom-1">Repository</a>
						<a href="https://1mikegrn.github.io/pyGC/" class="btn btn-default btn-custom-1">DocSite</a>
					</div>

					<div class="col-md-5 col-sm-12" data-aos="fade-right">
						<h2 style="font-size: 28px;  margin-top: 50px;"> CompGen.app </h2>
            <p style="font-size: 20px; align: justify" align="justify">
              A Python library for simulating composite performance.
            </p>
						<p style="font-size: 17px;" align="justify">
						<b>Demonstrates:</b>
						<br>N/A
						</p>						
            <a href="/portfolio/CompGen/" class="btn btn-default btn-custom-1">Webpage</a>		
					</div>

          <div class="col-md-2 col-sm-0"></div>

					<div class="col-md-5 col-sm-12", data-aos="fade-left">
            <h2 style="font-size: 28px; margin-top: 50px;"> michaelgreen.dev </h2>
            <p style="font-size: 20px; align: justify" align="justify">
              The HTML/CSS/JS repository for this personal website.
            </p>
						<p style="font-size: 17px;" align="justify">
						<b>Demonstrates:</b>
						<br>Tech – HTML, CSS, JavaScript, Bootstrap
						<br>Topics – user-interfaces, front-end design
						</p>						
            <a href="/" class="btn btn-default btn-custom-1">Webpage</a>
            <a href="https://github.com/1mikegrn/michaelgreen.dev/" class="btn btn-default btn-custom-1">Repository</a>
					</div>

					<div class="col-md-5 col-sm-12" data-aos="fade-right">
            <h2 style="font-size: 28px; margin-top: 50px;"> NNA_Challenge </h2>
            <p style="font-size: 20px; align: justify" align="justify">
              A Python module for the Nearest-Neighbors Algorithm Challenge 
            </p>
						<p style="font-size: 17px;" align="justify">
						<b>Demonstrates:</b>
						<br>Tech – Python, Cython, NumPy, Pandas, Sphinx
						<br>Topics – object-oriented programming, procedural programming, algorithms, modular design, packaging & distribution, command-line interfaces
						</p>							
            <a href="https://github.com/1mikegrn/NNA_Challenge/" class="btn btn-default btn-custom-1">Repository</a>
            <a href="https://1mikegrn.github.io/NNA_Challenge" class="btn btn-default btn-custom-1">DocSite</a>
					</div>

          <div class="col-md-2 col-sm-0"></div>

					<div class="col-md-5 col-sm-12", data-aos="fade-left">
            <h2 style="font-size: 28px; margin-top: 50px;"> SWS_Challenge </h2>
            <p style="font-size: 20px; align: justify" align="justify">
              A Python module for the Super Word Search Challenge
            </p>
						<p style="font-size: 17px;" align="justify">
						<b>Demonstrates:</b>
						<br>Tech – Python, NumPy, Pandas, Sphinx
						<br>Topics – object-oriented programming, procedural programming, algorithms, modular design, packaging & distribution, command-line interfaces
						</p>							
            <a href="https://github.com/1mikegrn/SWS_Challenge/" class="btn btn-default btn-custom-1">Repository</a>
            <a href="https://1mikegrn.github.io/SWS_Challenge" class="btn btn-default btn-custom-1">DocSite</a>
					</div>

					<div class="col-md-5 col-sm-12" data-aos="fade-right">
            <h2 style="font-size: 28px; margin-top: 50px;"> HypercubeChallenge </h2>
            <p style="font-size: 20px; align: justify" align="justify">
              A Python module for the HypercubeChallenge 
            </p>
						<p style="font-size: 17px;" align="justify">
						<b>Demonstrates:</b>
						<br>Tech – Python, NumPy, Pandas, Sphinx, Google Colab, Jupyter Notebooks
						<br>Topics – procedural programming, algorithms, modular design, packaging & distribution, command-line interfaces
						</p>												
            <a href="https://github.com/1mikegrn/HypercubeChallenge/" class="btn btn-default btn-custom-1">Repository</a>
            <a href="https://1mikegrn.github.io/HypercubeChallenge" class="btn btn-default btn-custom-1">DocSite</a>
					</div>

          <div class="col-md-2 col-sm-0"></div>

					<div class="col-md-5 col-sm-12", data-aos="fade-left">
            <h2 style="font-size: 28px; margin-top: 50px;"> PyCees </h2>
            <p style="font-size: 20px; align: justify" align="justify">
              A testing environment for building C extensions using the C/Python API
            </p>
						<p style="font-size: 17px;" align="justify">
						<b>Demonstrates:</b>
						<br>Tech – Python, C, Jupyter Notebooks, Google Colab
						<br>Topics – procedural programming, algorithms, C/Python API
						</p>
            <a href="https://github.com/1mikegrn/PyCees/" class="btn btn-default btn-custom-1">Repository</a>
					</div>
				</div>
			</div>
		</section>
		<!-- Profile -->

		<!-- site tag -->
    <script src="{{ static_assets }}/js/page_tag.js"></script>
    <!-- site tag -->

  </div>
</body>
<script src="{{ static_assets }}/js/aos.js"></script>
<script>AOS.init();</script>
<script src="{{ static_assets }}/js/custom.js"></script>
</html>